header{
    background: lightblue;
}

main{
    background: lightcyan;
}

footer{
    background: lightblue;
}

.container{
    background: lightgray;
}

.container-text{
    background: red;   
}

.container-skills{
    background: blue;
}

.container-jobs{
    background: green;
}